<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Quotes</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quotes/style.css' %}">
</head>
<body>
<div class="container">
    <div class="header-box">
        <div class="column1">
            <h1>
                <a href="/" style="text-decoration: none">Quotes</a>
            </h1>
        </div>
        <div class="column2">
            {% if user.is_authenticated %}
                <p>Welcome <b>{{ user.username }}!</b></p>
                <ul class="no-dots-header">
                    <li><a href="{% url 'users:logout' %}">Logout</a></li>
                </ul>
            {% else %}
                <ul class="no-dots-header">
                    <li><a href="{% url 'users:signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'users:login' %}">Login</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
    {% block content %} {% endblock %}
</div>
</body>
</html>